<tr>
  <td><%= t "admin_page.w_id" %></td>
  <td><%= t "admin_page.w_customer.name" %></td>
  <td><%= t "admin_page.table.head.name" %></td>
  <td><%= t "admin_page.table.head.desc" %></td>
  <td><%= t "admin_page.w_price" %></td>
  <td><%= t "admin_page.w_quantity" %></td>
  <%= render "admin/shared/list_label", status: :done %>
  <%= render "admin/shared/list_action" %>
</tr>
