<form class="woocommerce-ordering">
  <select name="orderby" class="orderby" style="display: none;">
    <option value="menu_order" selected="selected">
      <%= t "home_page.sort.default" %>
    </option>
    <option value="date"><%= t "home_page.sort.date" %></option>
    <option value="name"><%= t "home_page.sort.name" %></option>
    <option value="name-desc">
      <%= t "home_page.sort.name_desc" %>
    </option>
    <option value="price"><%= t "home_page.sort.price" %></option>
    <option value="price-desc">
      <%= t "home_page.sort.price_desc" %>
    </option>
  </select>
</form>
