<tr>
  <td class="text-center"><%= order_detail.product_id %></td>
  <td class="text-center"><%= order_detail.product.name %></td>
  <td class="text-center">
    <%= number_to_currency order_detail.product.price %>
  </td>
    <td class="text-center mike-select-qty">
      <%= form_for [:admin, order_detail] do |f| %>
        <%= f.number_field :quantity %>
      <% end %>
    </td>
    <td class="text-center">
      <%= number_to_currency order_detail.unit_price %>
    </td>
    <td class="text-center">
      <%= button_tag type: :submit,
        class: "mike-action mike-action-edit",
          form: "edit_order_detail_#{order_detail.id}" do %>
          <i class="fa fa-check"></i>
      <% end %>
      <%= link_to admin_order_detail_path(order_detail), method: :delete,
        class: "mike-action mike-action-delete",
        data: {confirm: t("admin_page.button.confirm_delete")} do %>
          <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
</tr>
