<tr>
  <td class="text-center"><%= order_detail.product_id %></td>
  <td class="text-center"><%= order_detail.product.name %></td>
  <td class="text-center">
    <%= number_to_currency order_detail.product.price %>
  </td>
  <td class="text-center mike-select-qty">
    <%= number_field_tag :order_detail_quantity,
      Settings.quantity.value %>
  </td>
  <td class="text-center">
    <%= number_to_currency order_detail.unit_price %>
  </td>
  <td class="text-center">
    <%= link_to "#",
      class: "mike-action mike-action-edit" do %>
        <i class="fa fa-check"></i>
    <% end %>
    <%= link_to "#", method: :delete,
      class: "mike-action mike-action-delete",
      data: {confirm: t("admin_page.button.confirm_delete")} do %>
        <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
