<div class="main-container no-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 main-content">
        <%= form_tag nil, class: "checkout" do %>
          <div class="row">
            <div class="col-sm-6">
              <div class="block-form">
                <h3 class="form-heading">
                  <%= t "home_page.order.fill_info" %>
                </h3>
                <p>
                  <%= text_field_tag :full_name, nil,
                    placeholder: t("home_page.order.full_name") %>
                </p>
                <p>
                  <%= text_field_tag :address, nil,
                    placeholder: t("home_page.order.address") %>
                </p>
                <p>
                  <%= text_field_tag :phone, nil,
                    placeholder: t("home_page.order.phone") %>
                </p>
                <p>
                  <%= text_field_tag :email, nil,
                    placeholder: t("home_page.order.email") %>
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="block-form order-review">
                <h3 class="form-heading">
                  <%= t "home_page.order.info_title" %>
                </h3>
                <table class="shop_table">
                  <thead>
                    <tr>
                      <th class="product-name">
                        <%= t "home_page.word_product" %>
                      </th>
                      <th class="product-total">
                        <%= t "home_page.word_sub_total" %>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="product-name">Oversize Perfume</td>
                      <td class="product-total">
                        <span class="amount">
                          <%= number_to_currency 113 %>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="product-name">Oversize Perfume</td>
                      <td class="product-total">
                        <span class="amount">
                          <%= number_to_currency 113 %>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="order-total">
                      <th><%= t "home_page.cart.total" %></th>
                      <td>
                        <strong><span class="amount">
                          <%= number_to_currency 226 %></span>
                        </strong>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <%= button_tag t("home_page.button.order"),
                  class: "button primary", name: :order_button %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
