<div class="main-container no-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 main-content">
        <div class="block-form">
          <table class="shop_table cart">
            <thead>
              <tr>
                <th class="product"><%= t "home_page.cart.product_price" %></th>
                <th><%= t "home_page.cart.available" %></th>
                <th><%= t "home_page.cart.quantity" %></th>
                <th><%= t "home_page.cart.total" %></th>
                <th><%= t "home_page.cart.remove" %></th>
              </tr>
            </thead>
            <tbody id="mike-cart-content">
              <%= render "detail_list" %>
            </tbody>
          </table>
          <div class="block-form-footer">
            <%= button_tag t("home_page.button.update_cart"),
              class: "button mike-hidden-btn-cart", name: :update_cart_button %>
            <%= link_to t("home_page.button.process_order"), new_orders_path,
              class: "button pull-right primary", name: :order_button %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
