<h1><%= t "w_order_info" %></h1>
<h3>Mã đơn hàng: <%= @order.id %></h3>

<p>Họ tên: <%= @order.customer_name %></p>
<p>Số điện thoại: <%= @order.customer_phone %></p>
<p>Địa chỉ mail: <%= @order.customer_email %></p>
<p>Địa chỉ: <%= @order.customer_address %></p>

<table class="shop_table cart">
  <thead>
  <tr>
    <th class="product"><%= t "admin_page.w_product_name" %></th>
    <th><%= t "home_page.cart.quantity" %></th>
    <th><%= t "home_page.cart.total" %></th>
  </tr>
  </thead>
  <tbody id="mike-cart-content">
  <% @order.order_details.each do |item| %>
      <tr>
        <td class="product">
          <%= item.product.picture? ?
                image_tag(item.product.picture.url, class: "product-thumb")
                : image_tag("no-img.jpeg", class: "product-thumb") %>
          <div class="product-info">
            <h3 class="product-name">
              <%= item.product.name %>
            </h3>
            <span class="product-price">
            <%= number_to_currency item.product.price.to_i %>
          </span>
          </div>
        </td>
        <td>
          <div class="quantity">
            <%= item.quantity %>
          </div>
        </td>
        <td class="product-subtotal">
          <span class="amount">
            <%= number_to_currency item.unit_price.to_i %>
          </span>
        </td>
      </tr>
  <% end %>
  <tr>
    <td colspan="2"></td>
    <td colspan="1" class="order-total">
      <%= t "home_page.cart.total" %>:
      <%= number_to_currency @order.total_price %>
    </td>
  </tr>
  </tbody>
</table>
