<tr>
  <td class="text-center"><%= product.id %></td>
  <td class="text-center mike-table-img">
    <%= product.picture? ? image_tag(product.picture.url)
      : image_tag("no-img.jpeg") %>
  </td>
  <td class="text-center"><%= product.name %></td>
  <td class="text-center"><%= number_to_currency product.price %></td>
  <td class="text-center"><%= product.quantity %></td>
  <td class="text-center"><%= product.price_sale %></td>
  <td class="text-center">
    <%= link_to edit_admin_product_path(product),
      class: "mike-action mike-action-edit" do %>
      <i class="fa fa-pencil"></i>
    <% end %>
    <%= link_to admin_product_path(product), method: :delete,
      class: "mike-action mike-action-delete",
      data: {confirm: t("admin_page.button.confirm_delete")} do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
