<li class="product-item col-md-4 col-sm-6 col-xs-12">
  <div class="product-inner">
    <div class="thumb">
      <%= link_to product do %>
        <%= product.picture? ? image_tag(product.picture.url)
          : image_tag("no-img.jpeg") %>
      <% end %>
      <div class="group-button">
        <%= link_to t("home_page.add_to_cart"),
          order_details_path(cart_detail:
            {service: :add,
              product_id: product.id, qty: Settings.product.quantity.default}),
          method: :post,
          remote: true,
          class: "button add_to_cart_button" %>
      </div>
      <div class="flash">
        <span class="<%= product.get_status %>">
          <%= t "home_page.product.status.#{product.get_status}" %>
        </span>
      </div>
      <%= link_to t("home_page.product.quick_view"), product,
        title: t("home_page.product.quick_view"),
        class: "button quick-view yith-wcqv-button" %>
    </div>
    <div class="info">
      <h3 class="product-name short">
        <%= link_to product.name, product %>
      </h3>
      <span class="price">
        <%= number_to_currency product.get_price %>
      </span>
    </div>
  </div>
</li>
