<div class="main-container left-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9 main-content">
        <div class="single-product">
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <div class="images kt-images">
                <div class="kt-main-image">
                  <%= @product.picture? ?
                    link_to(image_tag(@product.picture.url), class: "zoom")
                    : link_to(image_tag "no-img.jpeg") %>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="summary">
                <h1 class="product_title entry-title">
                  <%= @product.name %>
                </h1>
                <span class="price">
                  <%= number_to_currency @product.get_price %>
                </span>
                <p class="stock out-of-stock">
                  <label><%= t "home_page.product.available" %> </label>
                  <i class="fa fa-check"></i>
                  <%= @product.quantity > 0 ?
                    t("home_page.product.status.instock")
                    : t("home_page.product.status.outstock") %>
                </p>
                <div class="short-descript">
                  <p><strong><%= t "home_page.product.description" %> </strong>
                  <%= @product.description %>
                </div>
                <%= form_for :cart_detail, url: order_details_path,
                  method: :post, remote: true do |f| %>
                  <div class="quantity">
                    <%= f.label :qty, t("home_page.product.select_quantity") %>
                    <%= f.number_field :qty,
                      value: Settings.product.quantity.default,
                      title: t("home_page.product.title_quantity"),
                      size: Settings.quantity.size,
                      class: "input-text qty text",
                      data:
                        {min: Settings.product.quantity.default,
                          max: @product.quantity} %>
                  </div>
                  <%= f.hidden_field :service, value: :add %>
                  <%= f.hidden_field :product_id, value: @product.id %>
                  <%= f.button t("home_page.add_to_cart"),
                    class: "single_add_to_cart_button button alt" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 sidebar">
        <div class="widget widget_product_categories">
          <h2 class="widget-title"><%= t "home_page.filter_by_cate" %></h2>
          <ul class="product-categories">
            <% if @support.all_categories.any? %>
              <%= render @support.all_categories %>
            <% else %>
              <%= t "admin_page.w_no_record" %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
