<div id="header" class="header">
  <div class="top-bar">
    <div class="container">
      <div class="top-bar-left">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag "logo.jpeg" %>
          <% end %>
        </div>
        <div class="form-search-wapper">
          <%= search_form_for search, url: root_path,
            class: "form-search" do |f| %>
            <%= f.search_field :name_cont, class: "input mike-hp-search",
              placeholder: t("home_page.search_holder") %>
            <%= f.button class: "btn-search" do %>
              <span class="flaticon-magnifying-glass34"></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="top-bar-right">
        <ul class="kt-nav top-bar-menu">
          <li class="menu-item-has-children box-setting">
            <%= link_to "#", data: {turbolinks: false} do %>
              <span class="menu-icon flaticon-configuration21"></span>
            <% end %>
            <div class="sub-menu box-setting-content">
              <div class="box-section">
                <h4 class="title"><%= t "home_page.select_lang" %></h4>
                <div class="inner">
                  <%= link_to locale: :en do %>
                    <%= image_tag "en.png" %>
                  <% end %>
                  <%= link_to locale: :vi do %>
                    <%= image_tag "vi.png" %>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
          <li class="menu-item-has-children mini-cart" id="mike-mini-cart">
            <%= render "shared/mini_cart" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-header">
    <div class="container">
      <div class="main-menu-wapper">
        <%= link_to "#", data: {turbolinks: false},
          class: "mobile-navigation" do %>
          <span class="icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <%= t "home_page.main_menu" %>
        <% end %>
        <ul class="kt-nav main-menu clone-main-menu">
          <li>
            <%= link_to t("home_page.home"), root_path %>
          </li>
          <li>
            <%= link_to t("home_page.introduce"), "#" %>
          </li>
          <li>
            <%= link_to t("home_page.shopping_guides"), "#" %>
          </li>
          <li>
            <%= link_to t("home_page.hotline"), "tel:+84972792096",
              title: t("home_page.hotline_detail") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
