<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/include_tag" %>
  </head>

  <body>
    <%= render "layouts/mobile_menu" %>
    <%= render "layouts/header", search: @search %>
    <div id="mike-flash" class="mike-flash-wrapper">
      <%= render "shared/flash_messages" %>
    </div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
