<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/include_tag" %>
  </head>

  <body>
    <%= render "layouts/mobile_menu" %>
    <%= render "layouts/header", search: @search %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
